# **Assignment 4**

## **SMS SPAM Classification**

### **Import required library**

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pltimport 
import seaborn as sns 
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import LabelEncoder 
from keras.models import Model 
from keras.layers import LSTM, Activation, Dense, Dropout, Input, Embedding 
from keras.optimizers import RMSprop 
from keras.preprocessing.text import Tokenizer 
from keras.preprocessing import sequence 
from keras.utils import pad_sequences 
from keras.utils import to_categorical 
from keras.callbacks import EarlyStopping

### **Read dataset**

In [7]:
df = pd.read_csv('/content/spam.csv',delimiter=',',encoding='latin-1')
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

### **Preprocessing the dataset**

In [8]:
df.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'],axis=1,inplace=True) 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   v1      5572 non-null   object
 1   v2      5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [9]:
X = df.v2 
Y = df.v1
le = LabelEncoder()
Y = le.fit_transform(Y) 
Y = Y.reshape(-1,1)

In [10]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.15)

In [11]:
max_words = 1000
max_len = 150
tok = Tokenizer(num_words=max_words) 
tok.fit_on_texts(X_train)
sequences = tok.texts_to_sequences(X_train) 
sequences_matrix = pad_sequences(sequences,maxlen=max_len)

### **Create model and add layers(LSTM, Dense - (Hidden Layers), Output)**

In [13]:
inputs = Input(name='inputs',shape=[max_len])
layer = Embedding(max_words,50,input_length=max_len)(inputs)
layer = LSTM(64)(layer)
layer = Dense(256,name='FC1')(layer) 
layer = Activation('relu')(layer)
layer = Dropout(0.5)(layer)
layer = Dense(1,name='out_layer')(layer) 
layer = Activation('sigmoid')(layer)
model = Model(inputs=inputs,outputs=layer)
model.summary()

Model: "model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 inputs (InputLayer)         [(None, 150)]             0

 embedding (Embedding)       (None, 150, 50)           50000

 lstm (LSTM)                 (None, 64)                29440

 FC1 (Dense)                 (None, 256)               16640

 activation (Activation)     (None, 256)               0

 dropout (Dropout)           (None, 256)               0

 out_layer (Dense)           (None, 1)                 257

 activation_1 (Activation)   (None, 1)                 0

=================================================================
Total params: 96,337
Trainable params: 96,337
Non-trainable params: 0
_________________________________________________________________

### **Compile the model**

In [14]:
model.compile(loss='binary_crossentropy',optimizer=RMSprop(),metrics=['accuracy'])

### **Train and Fit the model**

In [15]:
model.fit(sequences_matrix,Y_train,batch_size=128,epochs=10, 
validation_split=0.2)

Epoch 1/10
30/30 [==============================] - 10s 249ms/step - loss: 0.3160 - accuracy: 0.8804 - val_loss: 0.1240 - val_accuracy: 0.9662
Epoch 2/10
30/30 [==============================] - 7s 245ms/step - loss: 0.0790 - accuracy: 0.9813 - val_loss: 0.0494 - val_accuracy: 0.9873
Epoch 3/10
30/30 [==============================] - 7s 231ms/step - loss: 0.0453 - accuracy: 0.9879 - val_loss: 0.0466 - val_accuracy: 0.9873
Epoch 4/10
30/30 [==============================] - 8s 256ms/step - loss: 0.0305 - accuracy: 0.9918 - val_loss: 0.0456 - val_accuracy: 0.9873
Epoch 5/10
30/30 [==============================] - 7s 228ms/step - loss: 0.0233 - accuracy: 0.9937 - val_loss: 0.0479 - val_accuracy: 0.9873
Epoch 6/10
30/30 [==============================] - 7s 228ms/step - loss: 0.0193 - accuracy: 0.9950 - val_loss: 0.0639 - val_accuracy: 0.9831
Epoch 7/10
30/30 [==============================] - 8s 260ms/step - loss: 0.0154 - accuracy: 0.9958 - val_loss: 0.0772 - val_accuracy: 0.9821
Epoch 8/10
30/30 [==============================] - 7s 229ms/step - loss: 0.0119 - accuracy: 0.9971 - val_loss: 0.0638 - val_accuracy: 0.9873
Epoch 9/10
30/30 [==============================] - 7s 229ms/step - loss: 0.0115 - accuracy: 0.9971 - val_loss: 0.0690 - val_accuracy: 0.9873
Epoch 10/10
30/30 [==============================] - 7s 229ms/step - loss: 0.0077 - accuracy: 0.9979 - val_loss: 0.0785 - val_accuracy: 0.9863

### **Save the model**

In [16]:
model.save('sms_classifier.h5')

In [17]:
#Preprocessing the Test Dataset
test_sequences = tok.texts_to_sequences(X_test)
test_sequences_matrix = pad_sequences(test_sequences, maxlen=max_len)

### **Test the model**

In [19]:
accr = model.evaluate(test_sequences_matrix,Y_test)

27/27 [==============================] - 1s 19ms/step - loss: 0.1208 - accuracy: 0.9809

In [22]:
print('Loss: {:0.3f}\nAccuracy: {:0.3f}'.format(accr[0],accr[1]))

Loss: 0.121
Accuracy: 0.981